*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}


.link-section{
    width: 100%;
    height: 7vh;
    background-color: rgb(216, 213, 213);
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 10px;
    gap: 15px;
    flex-direction: row;

}

.link-section p{
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.profile{
    width: 100%;
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    background: #f7f7f7;
}

/* Profile detail card Styling */