.hero-section {
    width: 100%;
    min-height: 50vh;
    /* Remove background-image if using <img> tag, or use a solid color/gradient */
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.5)), url('../assets/src/gray-glasses.webp ');
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-direction: row;
    
    justify-content: center;    
    align-items: center;
    gap: 80px; /* Add gap between image and message */
    padding: 40px 20px; /* Add some padding */
}

.section-image img {
    border-radius: 7px; /* Rounded corners */
    object-fit: cover; /* Maintain aspect ratio */
}

.section-message {
    max-width: 500px; /* Limit text width */
    text-align: center;
}

.section-message h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #ffffff;
}
.section-message p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #ffffff;
    margin-bottom: 20px;
}
.section-message a {
    margin-top: 20px;
    text-decoration: none;
    padding: 15px 30px;
    font-size: 1rem;
    color: #fff;
    background-color: #004aad;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}